body { 
    width: 960px;
    margin: auto;
    list-style: none;

}

ul {
    list-style-type: none;
}
header {
    width: 960px;
    height: 100px;
    border-bottom: 6px dashed black;
}

#logo {
    float: left;
}

#socialicons li {
    float: right;
    padding: 1px;
 }  
 
#socialicons li:nth-child(2) {
    padding-left: 8px;
}

#chocolate {
    float: left;
    text-align: justify;
}

#print li {
    float: right;
}

main {
    text-align: center;
}

section.pizza {
    width: 960px;
    display: inline-block;
}

/* .note {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1; */
/* } */

figure {
    background-image: url("img/list-bg.png");
    position: relative;
    top: 0px;
    left: 0px;
}
